<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.academiajedi.androiddveloper.projeto_aula03">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MainActivity">
        </activity>
        <activity android:name=".views.RecycleViewActivity">
        </activity>
        <activity android:name=".views.RelativeLayoutActivity">
        </activity>
        <activity android:name=".views.FrameLayoutActivity">
        </activity>
        <activity android:name=".views.LinearLayoutActivity">
        </activity>
        <activity android:name=".views.TableLayoutActivity">
        </activity>
        <activity android:name=".views.BottomNavigationActivity">
        </activity>
        <activity android:name=".views.CardViewActivity">
        </activity>
        <activity android:name=".views.DialogsActivity">
        </activity>
        <activity android:name=".views.FABActivity">
        </activity>
        <activity android:name=".views.MenuActivity">
        </activity>
        <activity android:name=".views.ScrollViewActivity">
        </activity>
        <activity android:name=".views.SnackBarActivity">
        </activity>
        <activity android:name=".views.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ToolBarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>

</manifest>